body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #eeebd0;
}

text {
  fill: #999;
}

.annotation-note-label, .annotation-xy-label {
  font-size: 10px;
  fill: #666;
}

.annotation-connector .connector {
  stroke-dasharray: 3,1;
  stroke-width: 1px;
}

circle {
  opacity: 0;
}

.tick-line {
  opacity: 0.4;
}

.annotation-subject path {
  stroke-dasharray: 3, 1;
  stroke-width: 1px;
}

.recession .annotation-subject path {
  fill-opacity: 0.15;
  opacity: 1;
  stroke-opacity: 0;
  fill: rgb(150,150,150);
}

.note-line {
  opacity: 0;
}

.recession .note-line {
  opacity: 1;
}

#deathMiles .tick-line {
  opacity: 0;
}

#population .tick-line {
  opacity: 0;
}

#miles .tick-line {
  opacity: 0;
}

.container {
  position: absolute;
}
#population, #deathPopulation {
  top: 10px;
  left: 50px;
}
#miles, #deathMiles {
  top: 220px;
  left: 50px;
}
#alcohol, #deathAlcohol {
  top: 430px;
  left: 50px;
}
