body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #eeebd0;
}

text {
  fill: #999;
}

h1, h2, h3, h3, h3 {
  margin: 0px 0 0 20px;
}

h3 {
  font-weight: normal;
  text-size: 16px;
  color: #393e41;
}

.annotation-note-label, .annotation-xy-label {
  font-size: 10px;
  fill: #666;
}

.annotation-connector .connector {
  stroke-dasharray: 3,1;
  stroke-width: 1px;
}

circle {
  opacity: 0;
}

.tick-line {
  opacity: 0.4;
}

.annotation-subject path {
  stroke-dasharray: 3, 1;
  stroke-width: 1px;
}

.recession .annotation-subject path {
  fill-opacity: 0.15;
  opacity: 1;
  stroke-opacity: 0;
  fill: rgb(150,150,150);
}

.note-line {
  opacity: 0;
}

#population .tick-line {
  opacity: 0;
}

.container {
  position: absolute;
}
#population, #deathPopulation {
  top: 10px;
  left: 20px;
}

.legend {
  font-size: 12px;
}

#deathLegend {
  top: 160px;
  left: 1015px;
  color: #393e41;
}

#popLegend {
  top: 40px;
  left: 1015px;
  color: #da4167;
}

.description strong {
  color: #222;
}

h1, h2, h3, .description {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.description {
  left: 700px;
  width: 450px;
  color: #666;
  padding-left: 35px;
  border-left: 1px solid #393e41;
}

.pop {
  top: 100px;
}

